# Day 6 assignment LetsUpgrade

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Assuming that we have some email addresses in the "username@companyname.com" format,
# please write program to print the company name of a given email address. 
# Both user names and company names are composed of letters only.

In [8]:
name = input("Enter the string:")
name = name.split('@')[1]
name = name.split('.')[0]

print(name)

Enter the string:abc@gmail.com
gmail

In [10]:
emai = input("The first line of input contains an email addres:")
emai = emai.split('@')[1]
emai = emai.split('.')[0]

print(emai)

The first line of input contains an email addres:nischal@outlook.com
outlook

In [13]:
name = input("The first line of input contains an email addres:")
name = name.split('@')[1].split('.')[0]

print(name)

The first line of input contains an email addres:abc@hotmail.com
hotmail

In [ ]:
# Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
# separated sequence after sorting them alphabetically.

# Input Format:
# The first line of input contains words separated by the comma.
# Output Format:
# Print the sorted words separated by the comma.
# Example:
# Input:
# without,hello,bag,world
# Output:
# bag,hello,without,world

In [18]:
seq_wrds = input("Enter the sentence:")
wrds = [wrds for wrds in seq_wrds.split(',')]

print(','.join(sorted(list(set(wrds)))))

Enter the sentence:without,hello,bag,world
bag,hello,without,world

### or

In [17]:
items = [x for x in input("Enter the sentence:").split(',')]

items.sort()

print((',').join(items))

Enter the sentence:without,hello,bag,world
bag,hello,without,world

# Create your own Jupyter Notebook for Sets.
# Reference link: https://www.w3schools.com/python/python_sets.asp

In [73]:
# Set : A Set is an unordered collection data type that is iterable (you can usse for loop) , mutable (changeable), unindexed 
# and has no duplicate elements. sets are written with curly brackets.
Set = {}
print(Set)

{}

In [74]:
myset = {'Wayne','Eminem','Drake','Jay Z'}
print(myset)

{'Jay Z', 'Wayne', 'Eminem', 'Drake'}

In [75]:
# add : To add one item to a set use the add() method.
myset.add('Nicki Minaj')
print(myset)

{'Eminem', 'Nicki Minaj', 'Wayne', 'Drake', 'Jay Z'}

In [76]:
#update: To add more than one item to a set use the update() method.
myset.update(['Snoop Dog','50 Cent','Big Sean'])

In [77]:
print(myset)

{'Snoop Dog', '50 Cent', 'Eminem', 'Nicki Minaj', 'Big Sean', 'Wayne', 'Drake', 'Jay Z'}

In [78]:
# Copy : Returns a copy of the set
set1 = myset.copy()
print(set1)

{'Snoop Dog', '50 Cent', 'Eminem', 'Nicki Minaj', 'Big Sean', 'Wayne', 'Drake', 'Jay Z'}

In [79]:
#difference: Returns a set containing the difference between two or more sets
# the returned set contains items that exist only in the first set, and not in both sets
s1 = {1,2,3,"apple", "banana", "cherry"}
print(s1)

{1, 2, 3, 'banana', 'cherry', 'apple'}

In [80]:
s2 = {1,3,"google", "microsoft", "apple"}
print(s2)

{1, 3, 'google', 'microsoft', 'apple'}

In [81]:
s1.difference(s2)

{2, 'banana', 'cherry'}

In [82]:
#difference_update:  method removes the items that exist in both sets
s2.difference_update(s1)
print(s2)

{'google', 'microsoft'}

In [83]:
#discard: method removes the specified item from the set
s1.discard(2)

In [84]:
print(s1)

{1, 3, 'banana', 'cherry', 'apple'}

In [85]:
# intersection: method returns a set that contains the similarity between two or more sets.
x = {20,60,'Ford','Jaguar',40,'Wayne'}

In [86]:
y = {30,'Wayne','Vogan','Benz',20}

In [87]:
x.intersection(y)

{20, 'Wayne'}

In [88]:
# intersection_update: method removes the items that is not present in both sets 
# (or in all sets if the comparison is done between more than two sets).
x.intersection_update(y)
print(y)

{'Benz', 'Vogan', 20, 'Wayne', 30}

In [89]:
y.intersection_update(x)
print(x)

{20, 'Wayne'}

In [90]:
#isdisjoint : Return True if no items in set x is present in set y: 
#method returns True if none of the items are present in both sets, otherwise it returns False.
x.isdisjoint(y)

False

In [91]:
a = {"apple", "banana", "cherry"}

In [92]:
b ={"google", "microsoft", "facebook"}

In [93]:
a.isdisjoint(b)

True

In [94]:
#issubset : method returns True if all items in the set exists in the specified set, otherwise it retuns False.
m = {"a", "b", "c"}

In [95]:
n = {"f", "e", "d", "c", "b", "a"}

In [96]:
m.issubset(n)

True

In [97]:
r = {"a", "b", "c"}
s = {"f", "e", "d", "c", "b"}
r.issubset(s)

False

In [98]:
#pop: method removes a random item from the set.
s.pop()

'f'

In [100]:
#remove: method removes the specified element from the set.
# remove() method will raise an error if the specified item does not exist
s.remove("c")

In [101]:
print(s)

{'d', 'e', 'b'}

In [102]:
# symmetric_difference : method returns a set that contains all items from both set, 
#but not the items that are present in both sets.
r = {"a", "b", "c"}

In [103]:
s = {"f", "e", "d", "c", "b"}

In [104]:
r.symmetric_difference(s)

{'a', 'd', 'e', 'f'}

In [105]:
# symmetric_difference_update method updates the original set by removing items that are present in both sets 
#and inserting the other items.
r.symmetric_difference_update(s)
print(r)

{'f', 'd', 'e', 'a'}

In [106]:
#union : Return a set that contains all items from both sets, duplicates are excluded:
m = {"a", "b", "c"}

In [107]:
n = {"f", "e", "d", "c", "b", "a"}

In [108]:
m.union(n)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [109]:
#update : method updates the current set, by adding items from another set.
#If an item is present in both sets, only one appearance of this item will be present in the updated set.
x1 = {'Wayne','Eminem','Drake','Jay Z'}

In [110]:
x2 = {'Nicki Minaj', 'Jay Z', '50 Cent', 'Wayne'}

In [111]:
x1.update(x2)

In [112]:
print(x1)

{'50 Cent', 'Eminem', 'Nicki Minaj', 'Wayne', 'Drake', 'Jay Z'}

In [19]:
# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

# Input Format:
# The first line contains n-1 numbers with each number separated by a space.
# Output Format:
# Print the missing number
# Example:
# Input:1 2 4 6 3 7 8
# Output:5
# Explanation:
# In the above list of numbers 5 is missing and hence 5 is the input

In [23]:
nmbers = [x for x in range(1,10)]
print(nmbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
def find_missing(numb):
    return [x for x in range(numb[0], numb[-1]+1)
           if x not in numb]

In [43]:
numb = list(map(int, input("Enter the value:").split(' ')))
print(find_missing(numb))

Enter the value:1 1 3 3 4 6 0 1 8
[2, 5, 7]

In [45]:
n = [1, 2, 3, 4, 5, 6]

print(n[0])

print(n[-1]+1)

1
7

In [51]:
n = [1, 2, 3, 4, 5, 6]

print(n[0])

print(n[-1]-1)

1
5

In [52]:
# Solution: 
def check_missing(numb):
    return [x for x in range(n[0], n[-1]-1)
           if x not in n]

In [53]:
n = list(map(int, input("Enter the value:").split(' ')))
print(check_missing(n))

Enter the value:1 2 4 6 3 7 8
[5]

#### or

In [54]:
m = list(map(int,input('Entet the list elements:').split(' ')))
lst = [i for i in range(1,len(m))]
missing = []
for i in lst:
    if i not in m:
        missing.append(i)

print('The missing value :')
for j in missing:
    print(j,end = ' ')

Entet the list elements:1 2 4 6 3 7 8
The missing value :
5

In [ ]:
# With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
# Example:
# If the input list is
# 12 24 35 24 88 120 155 88 120 155
# Then the output should be
# 12 24 35 88 120 155
# Explanation:
# Third, seventh and ninth element of the list L has been removed because it was already present.
# Input Format:
# In one line take the elements of the list L with each element separated by a space.
# Output Format:
# Print the elements of the modified list in one line with each element separated by a space.
# Example:
# Input: 12 24 35 24
# Output:
# 12 24 35

In [69]:
l = list(map(int,input("Enter the values:").split(' ')))

l = list(dict.fromkeys(l))

print(l)

Enter the values:12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]

#### or

In [72]:
l = map(int,input("Enter the values:").split(' '))

l = (dict.fromkeys(l))

for i in l:
    print(i, end = ' ')

Enter the values:12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155