# LetsUpgrade Assigment

## Day 3 assigment

In [1]:
import numpy as np
import pandas as pd

In [1]:
# Write a program to subtract two complex numbers in python

In [7]:
a = 4+3j
b = 3-7j
print("First complex number is:", a)
print("Second complex number is :", b)
print("Subtraction of two complex numbers:", (a) - (b))

First complex number is: (4+3j)
Second complex number is : (3-7j)
Subtraction of two complex numbers: (1+10j)

In [8]:
# Write a program to find the fourth root of a number

In [14]:
import math
number = 20736
c = math.sqrt(math.sqrt(number))
print("The fourth root of 20736 is:",c)

The fourth root of 20736 is: 12.0

In [13]:
# Write a program to swap two numbers in Pyhton with the help of temporary variable.

In [22]:
x = 10
y = 25
print("The value of x and y before swapping:",(x,y))

temp = x
x = y
y = temp
      
print("The value of x and y after swapping:", (x, y))

The value of x and y before swapping: (10, 25)
The value of x and y after swapping: (25, 10)

In [ ]:
# # Write a program to swap two numbers in Pyhton without using temporary variable.

In [24]:
x = 20
y = 80
print("The value of x and y before swapping:", (x,y))

x,y = y, x
print("The value of x and y after swapping:", (x, y))

The value of x and y before swapping: (20, 80)
The value of x and y after swapping: (80, 20)

In [25]:
# Write a program to convert fahrenheit to kelvin and celsius both

In [29]:
fahrenheit = 100
kelvin = ((fahrenheit - 32) * 5/9) + 273.15
print("The value of kelvin from fahrenheit is:", kelvin)

The value of kelvin from fahrenheit is: 310.92777777777775

In [26]:
fahrenheit = 99
celsius = (fahrenheit - 32) * 5/9
print("The value of celsius from fahrenheit is:", celsius)

The value of celsius from fahrenheit is: 37.22222222222222

In [30]:
# Write a program to demonstrate all the available data types in Python.

In [31]:
a = 9852
b = 639.25
c = "Nischal"
d = True
e = 4+3j

In [34]:
print("The datatype of a:", type(a))

The datatype of a: <class 'int'>

In [35]:
print("The datatype of b:", type(b))

The datatype of b: <class 'float'>

In [36]:
print("The datatype of c:", type(c))

The datatype of c: <class 'str'>

In [37]:
print("The datatype of d:", type(d))

The datatype of d: <class 'bool'>

In [38]:
print("The datatype of e:", type(e))

The datatype of e: <class 'complex'>

## advanced data types/ data structures

In [40]:
lst = [9852, 639.25, "Nischal", True, 4+3j]
print(lst)
print("The data type of lst:", type(lst))

[9852, 639.25, 'Nischal', True, (4+3j)]
The data type of lst: <class 'list'>

In [41]:
tple = (9852, 639.25, "Nischal", True, 4+3j)
print(tple)
print("The data type of tple:", type(tple))

(9852, 639.25, 'Nischal', True, (4+3j))
The data type of tple: <class 'tuple'>

In [43]:
st = {9852, 639.25, "Nischal", True, 4+3j}
print(st)
print("The data type of st:", type(st))

{True, (4+3j), 'Nischal', 9852, 639.25}
The data type of st: <class 'set'>

In [45]:
dct = {'a':9852, 'b':639.25, 'c':'Nischal', 'd':True, 'e':4+3j}
print(dct)
print("The data type of dct:", type(dct))

{'a': 9852, 'b': 639.25, 'c': 'Nischal', 'd': True, 'e': (4+3j)}
The data type of dct: <class 'dict'>